/* font-family: 'Roboto Condensed', sans-serif;
font-family: 'Open Sans', sans-serif; */

.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(5, 5, 5);
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;

}

.App-title {
  font-size: 1.5em;
  color: #ffd54e;
}

.App-intro {
  font-size: large;
}

.buttons {
  text-align: center;

}

table{
  font-family: 'Open Sans', sans-serif; 
  display: flex;
  align-content: center;
}

tbody {
  width: 30em;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
